@using Tm.Data.Common
@using Tm.Data.ViewModels
@model OrderDetail
@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<!-- MAIN CONTENT-->

<div class="main-content">
    <div class="card">
        <div class="card-header" style="background-color :#ddd">
            <div class="row group-control">
                <p style="margin: 3px 10px">@Html.ActionLink("Danh sách bệnh án", "Index", "DoctorOrder", new { Area = "Doctor" }, new { })</p>
                <p style="margin: 3px 10px">&#9658;</p>
                @Html.DropDownListFor(model=>model.SelectedOrder, (SelectList)ViewBag.OrderList, new { @class = "col-2 form-control-sm" })
            </div>
        </div>
        <div class="card-header" style="text-align: center; font-size: 20px;
                        text-transform: uppercase; background: #BFD7EA; color: black">
            <strong>Chi tiết bệnh án</strong>
        </div>
        <div class="card-body card-block">
           @using (Html.BeginForm("Diagnosis", "DoctorOrder", new { Area = "Doctor",Id=Model.Id }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
            {
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="record-title-input" class="form-control-label">Tiêu đề bệnh án</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <!-- <input type="text" name="record-title-input" class="form-control"> -->
                        <div class="typo-articles"><p>@Html.DisplayFor(m => m.Title)</p></div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="record-date-input" class="form-control-label">Ngày tạo</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="typo-articles">@Html.DisplayFor(m => m.CreatedDate, "0:dd/MM/yyyy")</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="record-date-input" class="form-control-label">Tên bệnh nhân</label>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="typo-articles">@Html.DisplayFor(m => m.PatientName)</div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <div class="typo-articles">Tuổi: @Html.DisplayFor(m => m.Age)</div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="typo-articles">Giới tính: @Html.DisplayFor(m => m.Gender)</div>
                    </div>
                </div>

                <hr>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="symdrome-input" class="form-control-label">Triệu chứng</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="typo-articles">
                            <ul>
                                @foreach (var item in Model.Symptoms)
                                {
                                    <li>@Html.DisplayFor(modelItem => item.Name)</li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="additional-note-input" class="form-control-label">Ghi chú thêm</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="typo-articles">
                            <p>@Html.DisplayFor(model => model.Notes)</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div style="padding-bottom: 20px;">
                    <strong>Thông số lâm sàng </strong>
                </div>
                foreach (var item in Model.ClinicalParams)
                {
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label>@Html.DisplayFor(modelItem => item.Description) (@Html.DisplayFor(modelItem => item.Unit))</label>
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.TextBoxFor(modelItem => item.Value, new { type = "number", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.TextBoxFor(modelItem => item.MeasuredDate, "{0:dd/MM/yyyy}", new { type = "text", @readonly = "readonly", @class = "form-control" })
                            <span>@{var timestring = Utilities.TimespanToString(DateTime.Now, (DateTime)item.MeasuredDate);} @timestring</span>
                        </div>
                    </div>
                }
                <hr>
                <div style="padding-bottom: 20px;">
                    <strong>Thông số cận lâm sàng</strong>
                </div>
                foreach (var item in Model.ParaclinicalParams)
                {
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label>@Html.DisplayFor(modelItem => item.Description) (@Html.DisplayFor(modelItem => item.Unit))</label>
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.TextBoxFor(modelItem => item.Value, new { type = "number", @readonly = "readonly", @class = "form-control" })
                        </div>
                        <div class="col-12 col-md-4">
                            @Html.TextBoxFor(modelItem => item.MeasuredDate, "{0:dd/MM/yyyy}", new { type = "text", @readonly = "readonly", @class = "form-control" })
                            <span>@{var timestring = Utilities.TimespanToString(DateTime.Now, (DateTime)item.MeasuredDate);} @timestring </span>
                        </div>
                    </div>
                }

                <hr>

                if (string.IsNullOrEmpty(Model.DiagnosisNote))
                {

                    <div class="row form-group timeline-record-content">
                        <div class="col-md-3">
                            <div style="text-align: center">
                                <p>Tới BN. @Model.PatientName</p>
                                <!-- <p class="time-label">28/12/2017 18:32</p> -->
                            </div>
                            <div class="center-image">
                                <img src="@Model.PatientAvatar" alt="Bệnh nhân @Model.PatientName" class="diag-avatar">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <!-- Chưa có chẩn đoán -->
                            <textarea name="DiagnosisNotes" cols="30" rows="10" class="form-control" placeholder="Bệnh án này đang chờ chẩn đoán. Thêm chẩn đoán tại đây, lưu ý chẩn đoán khi đã thêm sẽ không sửa được"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="row form-group" style="float:right">
                        <button type="submit" class="btn btn-primary btn-lg" style="font-size: 16px; margin: 5px">
                            <i class="fa fa-dot-circle-o"></i> Thêm chẩn đoán
                        </button>
                        <button type="reset" class="btn btn-danger btn-lg" style="font-size: 16px; margin: 5px">
                            <i class="fa fa-ban"></i> Xóa viết lại
                        </button>
                    </div>

                }
                else
                {
                    <div style="padding-bottom: 20px;">
                        <strong>Chẩn đoán của bác sỹ</strong>
                    </div>
                    <div class="row form-group timeline-record-content">
                        <div class="col-md-2">
                            <div class="center-image">
                                <img src="@Model.DoctorAvatar" alt="@Html.DisplayFor(m=>m.DoctorName)" class="diag-avatar">
                            </div>
                            <div style="text-align: center">
                                <p>@Html.DisplayFor(m => m.DoctorName)</p>
                                <!-- <p class="time-label">28/12/2017 18:32</p> -->
                            </div>
                        </div>
                        <div class="col-md-9">
                            <p class="diagnosis-bubble">
                                @Html.DisplayFor(m => m.DiagnosisNote)
                            </p>
                        </div>
                    </div>
               
                <hr>
                <div class="row form-group" style="float:right;">
                    @Html.ActionLink("Về danh sách bệnh án", "Index", "DoctorOrder", new { Area = "Doctor" }, new { @class = "btn btn-danger btn-lg", style = "font-size: 16px; margin: 5px" })
                </div>
                }
            }
        </div>

        <div class="card-footer" style="font-size: 0.8em">
            <a href="">Cần trao đổi thêm với BS.Trần Huy Hòa về bệnh án này?</a>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    var recUrl = '@Url.Action("Detail","DoctorOrder",new { Area = "Doctor",Id="" })';
    $(function () {
        $('#SelectedOrder').on('change', function (e) {
            $(location).attr('href', recUrl+'/'+this.value)
        });
    })
    </script>
}