
@using Microsoft.AspNet.Identity
@using TM.Web.Models
@if (Request.IsAuthenticated)
{
    // Hiển thị các thông báo nếu đã đăng nhập
    Html.RenderAction("ListAll", "Notifications",new { Area=""});
    var contrl = "PatientProfile";
    var namespc = "Patient";
    <div class="account-wrap">
        <div class="account-item clearfix js-item-menu">
            <div class="image">
                <img src="@User.Identity.GetAvatar()" alt="Avatar" />
            </div>
            <div class="content">
                <a class="js-acc-btn" href="#">@User.Identity.GetFullName()</a>
            </div>
            <div class="account-dropdown js-dropdown">

                @if (this.User.IsInRole("DOCTOR_GROUP"))
                {
                    contrl = "DoctorProfile";
                    namespc = "Doctor";
                }
                @if (this.User.IsInRole("RECEPTION_GROUP"))
                {
                    contrl = "ReceptionProfile";
                    namespc = "Reception";
                }


                <div class="info clearfix">
                    <div class="image">
                        <a href="#">
                            <img src="@User.Identity.GetAvatar()" alt="Avatar" />
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="name">
                            @Html.ActionLink(User.Identity.GetUserName(), "Detail", contrl, new { Area = namespc }, htmlAttributes: new { title = "Xem chi tiết" })

                        </h5>
                        <span class="email">@User.Identity.GetEmail()</span>
                    </div>
                </div>
                <div class="account-dropdown__body">
                    <div class="account-dropdown__item">
                        <a href="@Url.Action("Detail", contrl, new { Area = namespc })">
                            <i class="zmdi zmdi-account"></i>Hồ sơ người dùng
                        </a>
                    </div>
                </div>
                <div class="account-dropdown__footer">
                    @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="zmdi zmdi-power"></i>Đăng xuất</a>
                    }
                </div>
            </div>
        </div>
    </div>
}
else
{
     <div class="account-wrap">
             <div>
                 @Html.ActionLink("Đăng ký", "Register", "Account", new { Area = "" }, htmlAttributes: new { id = "registerLink" })
             </div>
             <div>
                 @Html.ActionLink("Đăng nhập", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink" })
             </div>

         </div>
}
