@if (this.User.IsInRole("PATIENT_GROUP"))
{
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="@Url.Action("Index", "PatientOrder", new {Area = "Patient"})">
                        <img src="~/Content/Common/images/icon/logo.1.png" alt="Doctor" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">

                    <li>
                        <a href="@Url.Action("Create", "PatientOrder", new { Area = "Patient" })">
                            <i class="fas fa-chart-bar"></i>Hỏi bác sĩ
                        </a>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="@Url.Action("Index", "PatientOrder", new { Area = "Patient" })">
                            <i class="fas fa-tachometer-alt"></i>Danh sách bệnh án
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("History", "PatientOrder", new { Area = "Patient" })">
                            <i class="fas fa-table"></i>Lịch sử bệnh án
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ShowChart", "PatientOrder", new {Area = "Patient" })">
                            <i class="far fa-check-square"></i>Thống kê
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-calendar-alt"></i>Trợ giúp
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="~/Content/Common/images/icon/logo.1.png" alt="Doctor" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" href="@Url.Action("DashBoard","PatientOrder",new { Area="Patient"})">
                            <i class="fas fa-tachometer-alt"></i>Bảng tin
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-book"></i>Bệnh án
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="@Url.Action("Create","PatientOrder",new { Area = "Patient" })">
                                    <i class="fas fa-plus-square"></i>Hỏi bác sĩ
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","PatientOrder",new { Area = "Patient" })">
                                    <i class="fas fa-list-alt"></i>Danh sách bệnh án
                                </a>

                            </li>

                            <li>
                                <a href="@Url.Action("History","PatientOrder",new { Area = "Patient" })">
                                    <i class="fas fa-calendar-alt"></i>Lịch sử bệnh án
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowChart","PatientOrder",new { Area = "Patient" })">
                                    <i class="fas fa-chart-pie"></i>Thống kê
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-question-circle"></i>Trợ giúp
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
}
@if (this.User.IsInRole("DOCTOR_GROUP"))
{
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="@Url.Action("Index", "DoctorOrder", new {Area = "Doctor"})">
                        <img src="~/Content/Common/images/icon/logo.1.png" alt="Doctor" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="@Url.Action("ShowChart","DoctorOrder",new { Area = "Doctor" })">
                            <i class="fas fa-tachometer-alt"></i>Bảng tin
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-book"></i>Bệnh án
                        </a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                            <li>
                                <a href="@Url.Action("WaitingOrder","DoctorOrder",new { Area = "Doctor" })">Bệnh án chờ chẩn đoán</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","DoctorOrder",new { Area = "Doctor" })">Danh sách bệnh án</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowChart","DoctorOrder",new { Area = "Doctor" })">Thống kê</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-book"></i>Bệnh nhân
                        </a>
                        <ul class="navbar-mobile-sub__list list-unstyled js-sub-list" style="display: block">
                            <li>
                                <a href="@Url.Action("Index","DoctorPatient",new { Area = "Doctor" })">Danh sách bệnh nhân</a>
                            </li>
                            <li>
                                <a href="@Url.Action("History","DoctorPatient",new { Area = "Doctor" })">Lịch sử khám bệnh</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowChart","DoctorPatient",new { Area = "Doctor" })">Thống kê</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-question-circle"></i>Trợ giúp</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="~/Content/Common/images/icon/logo.1.png" alt="Doctor" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub">
                        <a class="js-arrow" href="@Url.Action("ShowChart","DoctorOrder",new { Area = "Doctor" })">
                            <i class="fas fa-tachometer-alt"></i>Bảng tin
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" id="record-sidebar" href="#">
                            <i class="fa fa-book"></i>Bệnh án
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="@Url.Action("WaitingOrder","DoctorOrder",new { Area = "Doctor" })">
                                    <i class="fa fa-spinner"></i>Bệnh án chờ chẩn đoán
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index","DoctorOrder",new { Area = "Doctor" })">
                                    <i class="fas fa-list-alt"></i>Danh sách bệnh án
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ShowChart","DoctorOrder",new { Area = "Doctor" })">
                                    <i class="fas fa-chart-pie"></i>Thống kê
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" id="record-sidebar" href="#">
                            <i class="fa fa-wheelchair"></i>Bệnh nhân
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="@Url.Action("Index","DoctorPatient",new { Area = "Doctor" })">
                                    <i class="fas fa-list-alt"></i>Danh sách bệnh nhân
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("History","DoctorPatient",new { Area = "Doctor" })">
                                    <i class="fas fa-calendar-alt"></i>Lịch sử khám bệnh
                                </a>
                            </li>
                            <li>
                                 <a href="@Url.Action("ShowChart","DoctorOrder",new { Area = "Doctor" })">
                                    <i class="fas fa-chart-pie"></i>Thống kê
                                 </a>
                            </li>                                       
                        </ul>
                    </li>

                    <li>
                        <a href="chart.html">
                            <i class="fas fa-question-circle"></i>Trợ giúp
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
}

