@using TM.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-form">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "display:block" })
    <div class="form-group">
        @Html.LabelFor(m => m.EmailOrPhone, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.EmailOrPhone, new { @class = "au-input au-input--full", placeholder = "Email hoặc số điện thoại", })
        @Html.ValidationMessageFor(m => m.EmailOrPhone, "", new { @class = "text-danger" })        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "au-input au-input--full" , placeholder = "Mật khẩu" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })      
    </div>
        <div class="login-checkbox">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <label>
                <a href="#">Quên mật khẩu?</a>
            </label>
        </div><br>
        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Đăng nhập</button>
        <!--<div class="social-login-content">
            <div class="social-button">
                <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
            </div>
        </div>-->
    }
    <div class="register-link">
        <p>
            Chưa có tài khoản?
            <a href="#">Xem hướng dẫn tại đây</a> hoặc
            <a href="#">Liên hệ trợ giúp</a>
        </p>
    </div>
</div>

