@using TM.Web.Areas.Patient.Models
@model OrderViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="main-content">
    <div class="card">
        <div class="card-header" style="text-align: center; font-size: 18px;
                        text-transform: uppercase; background: #BFD7EA; color: black">
            <strong>Thông tin bệnh án</strong>
        </div>
        <div class="card-body card-block">
            @using (Html.BeginForm("Create", "PatientOrder", new { area = "Patient" }, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <h1 style="color:red">@ViewBag.Error</h1>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="record-title-input" class=" form-control-label">Tiêu đề bệnh án(*)</label>
                    </div>
                    <div class="col-12 col-md-8">
                        @Html.TextBoxFor(m => m.Title, new {  placeholder = "Tiêu đề bệnh án", @class = "form-control" })  
                        @Html.ValidationMessageFor(m=>m.Title)
                        <small class="form-text text-muted">
                            Tiêu đề thường có nội dung tóm tắt tình trạng sức khỏe của bệnh nhân
                        </small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="record-date-input" class=" form-control-label">Ngày tạo</label>
                    </div>
                    <div class="col-12 col-md-8">
                        <input type="date" name="record-date-input" class="form-control" disabled>
                    </div>
                </div>
                <hr>
                <div class="row form-group">

                    <div class="col col-md-3">
                        <label for="Symptoms" class="form-control-label">Triệu chứng</label>
                    </div>
                    <div class="col-12 col-md-8">                     
                        <select id="Symptoms" name="Symptoms" class="form-control" multiple="multiple" style="width: 50%"></select>
                        <small class="help-block form-text">Chúng tôi sẽ gợi ý các triệu chứng cho bạn</small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="additional-note-input" class=" form-control-label">Ghi chú thêm</label>
                    </div>
                    <div class="col-12 col-md-8">
                        @Html.TextAreaFor(m=>m.Notes,new { rows = "3", @class="form-control"})                        
                        <small class="help-block form-text">Cung cấp thêm các thông tin khác, càng chi tiết càng tốt, sẽ giúp việc chẩn đoán của bác sỹ được tốt hơn</small>
                    </div>
                </div>

                <hr>

                <div style="padding-bottom: 20px;">
                    <strong>Thông số lâm sàng</strong>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="height-input">Chiều cao(cm)</label>
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.Height, new { type = "number", placeholder = "Chiều cao", @class = "form-control" })                       
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="weight-input">Cân nặng(kg)</label>
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.Weight, new { type = "number", placeholder = "Cân nặng", @class = "form-control" })                      
                    </div>
                    <div class="col-12 col-md-4">
                        <input type="text" id="bmi-label" placeholder="BMI" readonly class="form-control">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ha-tam-thu-input">Huyết áp tâm thu (mmHg)</label>
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.LowPressure, new {type="number", placeholder= "Chỉ số trên", @class = "form-control" })                        
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.LowPressureDate, "{0:dd/MM/yyyy}",new { type = "date", @class ="form-control"})                       
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ha-tam-thu-input">Huyết áp tâm trương (mmHg)</label>
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.HighPressure, new { type = "number", placeholder = "Chỉ số dưới", @class = "form-control" })                       
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.HighPressureDate, "{0:dd/MM/yyyy}", new { type = "date", @class = "form-control" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="ha-tam-thu-input">Nhịp tim (chu kỳ/phút)</label>
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.HeartBeat, new { type = "number", placeholder = "Nhịp tim", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HeartBeat)
                    </div>
                    <div class="col-12 col-md-4">
                        @Html.TextBoxFor(m => m.HeartBeatDate, "{0:dd/MM/yyyy}", new { type = "date", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.HeartBeatDate)
                    </div>
                </div>

                <hr>

                <div style="padding-bottom: 20px;">
                    <strong>Thông số cận lâm sàng</strong>
                </div>
                <div id="add-group-before" style="float: right; padding-right: 90px;">
                    @Html.DropDownListFor(m => m.AddParam, new SelectList(ViewBag.SymptomList, "Id", "CodeName"),new { style = "border: 1px solid #ced4da; line-height: 1.5; padding: .375rem .75rem;" })
                    <button type="button" class="btn btn-outline-primary btn-sm" name="btn-add-form-group" style="font-size: 16px"
                            id="btn-add-2">
                        <i class="zmdi zmdi-plus"></i>&nbsp; Thêm thông số
                    </button>
                </div>
                <div class="card-footer" style="padding-top:120px;">
                    <button type="submit" class="btn btn-primary btn-lg" style="font-size: 16px">
                        <i class="fa fa-dot-circle-o"></i> Tạo bệnh án
                    </button>
                    <button type="reset" class="btn btn-danger btn-lg" style="font-size: 16px">
                        <i class="fa fa-ban"></i> Xóa viết lại
                    </button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">


    var symptomUrl = '@Url.Action("SymptomDropdown", "Dropdown", new { Area = "" })';
    $(function () {
        // Configure Symptom Select2 Box
        $('#Symptoms').select2({
            ajax: {
                url: symptomUrl
            },
            placeholder: '--Chọn triệu chứng--',
            language: 'vi',
            //width: 'resolve',
            allowClear: true,
            minimumInputLength: 0,
            CloseOnSelect: false
        });

        var paramCount = $("#AddParam").children().length;

        // Record creation date:
        // 1. Date control in HTML5 accepts in the format of Year-month-day
        // 2. If month is 9, it needs to be set as 09 not simply 9, apply for day as well
        function getCurrentDateStr() {
            var current = new Date($.now());
            var dd = ('0' + current.getDate()).slice(-2);
            var mm = ('0' + (current.getMonth() + 1)).slice(-2);
            var yyyy = current.getFullYear();
            return `${yyyy}-${mm}-${dd}`;
        }

        $("input[type=date]").val(getCurrentDateStr());

        // BMI
        $("#weight-input, #height-input").change(function () {
            if ($('#weight-input').val() && $("#height-input").val()) {
                var h = $("#height-input").val() / 100, w = $('#weight-input').val();
                $("#bmi-label").val('BMI: ' + (w / (h * h)).toFixed(2));
            }
        });

        // Add form group element
        $("#btn-add-2").click(function () {
            // <!-- Form Replica -->
            //     <div class="row form-group" id="copy-group">
            //         <!-- Label -->
            //         <div class="col col-md-3">
            //             <label>Cholesteron (mmol/l)</label>
            //         </div>
            //         <!-- Value input -->
            //         <div class="col-12 col-md-4">
            //             <input type="text" id="test-select" placeholder="Chỉ số cholesteron trong máu" name="cholesteron-input" class="form-control">
            //         </div>
            //         <!-- Measuring date input -->
            //         <div class="col-12 col-md-4">
            //             <input type="date" name="cholesteron-date-input" class="form-control">
            //         </div>
            //         <!-- Delete button -->
            //         <div class="input-group-btn">
            //             <button class="btn btn-danger remove" type="button">
            //                 <i class="fas fa-minus"></i>
            //             </button>
            //         </div>
            // </div>
            if (paramCount == 0) return;
            var paramName = 'ParaclinicalParams';//$("#AddParam").find(":selected").text();
            var displayText = $("#AddParam").find(":selected").text();
            $("#AddParam :selected").remove(); paramCount--;
            // $("#test-select").val("Duy Trung");
            var pDiv = $('<div/>', {
                class: "row form-group",
                //name: paramName,
                html: [$("<div/>", {
                    class: "col col-md-3",
                    html: $('<label/>', {
                        text: displayText
                    })
                }), $("<div/>", {
                    class: "col-12 col-md-4",
                    html: $("<input/>", {
                        type: "number",
                        placeholder: "Chỉ số " + displayText + " trong máu",
                        name: paramName,
                        class: "form-control"
                    })
                }), $("<div/>", {
                    class: "col-12 col-md-4",
                    html: $("<input/>", {
                        type: "date",
                        name: 'MeasuredDates',
                        value: getCurrentDateStr(),
                        class: "form-control"
                    })
                }), $("<div/>", {
                    class: "input-group-btn",
                    html: $("<button/>", {
                        type: "button",
                        class: "btn btn-danger remove",
                        html: '<i class="fas fa-minus"></i>'
                        + `<input type="hidden" class="btn-hidden-val" value=${displayText}>`,
                    }).bind('click', function () {
                        //alert($(this).closest(".form-group").html());
                        $(this).closest(".form-group").remove(); paramCount++;
                        $("#AddParam").prepend(`<option>${$(this).find(".btn-hidden-val").val()}</option>`);
                    })
                })]
            })

            $("#add-group-before").before(pDiv);
        });
    });
    </script>
}